<%= form_for [:admin, current_artist, resource] do |f| %>
	<%= f.error_messages %>
  <fieldset class="input-group fluid">
    <%= f.label :title_pl, t( 'label.page.title_pl' ) %>
    <%= f.text_field :title_pl, class: 'form-control' %>
  </fieldset>
  <fieldset class="input-group fluid">
    <%= f.label :title_en, t( 'label.page.title_en' ) %>
    <%= f.text_field :title_en, class: 'form-control' %>
  </fieldset>
  <fieldset class="input-group fluid">
    <%= f.label :reference, t( 'label.page.reference' ) %>
    <%= f.text_field :reference, disabled: !resource.new_record?, class: 'form-control' %>
  </fieldset>
  <fieldset class="input-group vertical">
    <%= f.label :content_pl, t( 'label.page.content_pl' ) %>
    <%= f.text_area :content_pl, class: 'form-control', rows: 20 %>
  </fieldset>
  <fieldset class="input-group vertical">
    <%= f.label :content_en, t( 'label.page.content_en' ) %>
    <%= f.text_area :content_en, class: 'form-control', rows: 20 %>
  </fieldset>
  <button type="submit"><%=t 'action.save' %></button>
<% end %>
