<small>
  <a rel="license" href="<%= license.url %>"><img alt="Licencja Creative Commons" src="<%= license.icon_url %>" /></a>
  To dzieło, którego autorem jest 
  <a xmlns:cc="http://creativecommons.org/ns#" href="<%= artist_url( author ) %>" property="cc:attributionName" rel="cc:attributionURL"><%= author.name %></a>, 
  dostępne jest na licencji 
  <a rel="license" href="<%= license.url %>"><%= license.full_name %></a>.
</small>
