<%= render_title @current_album_presenter.title %>
<h2>
  <%= @current_album_presenter.title %>
  <% unless @current_album_presenter.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= @presenter.title %></h3>
<p>
  <a href="<%= @current_album_presenter.show_path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render :partial => 'form', locals: { resource: @presenter.resource } %>
