<%= render_title @album_presenter.title %>
<h2>
  <%= @album_presenter.title %>
  <% unless @album_presenter.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t('title.track.index') %></h3>
<p>
  <a href="<%= @album_presenter.path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>

<ul>
  <% @album_presenter.tracks.each do |track| %>
    <li>
      <%= track.rank %>.
      <%= track.title %>
      <% if !track.artist_name.blank? or !track.comment.blank? -%>
        <br /><small><%= [track.artist_name, track.comment].select{ |s| !s.blank? }.join(' - ') %></small>
      <% end -%>
      <br />
      <% if can? :write, track %>
        <div class="btn-group">
          <a href="<%= edit_artist_album_track_path(@album_presenter.artist, @album_presenter.resource, track) %>" class="btn btn-default btn-xs">
            <%=t 'action.edit' %>
          </a>
          <a href="<%= artist_album_track_path(@album_presenter.artist, @album_presenter.resource, track) %>" class="btn btn-danger btn-xs" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
            <%=t 'action.delete' %>
          </a>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h3><%= t('title.track.new') %></h3>
<%= render :partial => 'form', locals: { resource: @presenter.resource } %>

