<%= render_title @current_album_view.title %>
<h2>
  <%= @current_album_view.title %>
  <% unless @current_album_view.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t('title.track.new') %></h3>
<p>
  <a href="<%= @current_album_view.show_path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render :partial => 'form', locals: { resource: @view.resource } %>
