<% if artist.show_albums? || current_user %>
<div class="col-sm-12">
  <h4><%=t 'title.albums' %></h4>
</div>
<% artist.recent_albums.each do |album_presenter| %>
<div class="col-sm-12 col-md-12 col-lg-6">
  <div class="row">
    <div class="col-sm-4">
    <% if album_presenter.image? %>
      <a href="<%= album_presenter.path %>">
        <%= image_tag(album_presenter.image.icon.url, alt: album_presenter.title) %>
      </a>
    <% end %>
    </div>
    <div class="col-sm-8">
      <h5><%= link_to album_presenter.title, album_presenter.path %> <small><%= album_presenter.year %></small></h5>
      <% if album_presenter.price %>
      <p><small><%= album_presenter.price %>&nbsp;<%= album_presenter.currency %></small></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if artist.show_pages? || current_user %>
<div class="col-sm-12">
  <h4><%=t 'title.pages' %></h4>
</div>
<div class="col-sm-12">
  <ul class="ms-list ms-list-none">
  <% artist.recent_pages.each do |page_presenter| %>
     <li><%= link_to page_presenter.title, page_presenter.path %></li>
  <% end %>
  </ul>
</div>
<% end %>
