<% if @current_artist_view.show_recent_pages? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4"><%=t 'label.pages' %></span>
      <% @current_artist_view.with_new_page_path do |path| %>
        <a href="<%= path %>" class="btn btn-default btn-xs"><%= t('action.new') %></a>
      <% end %>
    </div>
      <div class="panel-body">
        <ul class="list-unstyled">
        <% @current_artist_view.recent_pages.each do |page| %>
           <li><%= link_to page.title, @current_artist_view.page_path(page) %></li>
        <% end %>
        </ul>
      </div>
  </div>
<% end %>

<% if @current_artist_view.show_recent_events? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4">
        <%=t 'label.events' %>
        <a href="<%= @current_artist_view.events_path %>">
          <span class="badge"><%= @current_artist_view.events_count %></span></a>
      </span>
      <% @current_artist_view.with_new_event_path do |path| %>
        <a href="<%= path %>" class="btn btn-default btn-xs"><%= t('action.new') %></a>
      <% end %>
    </div>
    <% unless @current_artist_view.recent_events.empty? %>
      <div class="panel-body">
        <ul class="event-list">
          <% @current_artist_view.recent_events.each do |event| %>
            <li>
              <a href="<%= @current_artist_view.event_path(event) %>"><%= event_date(event) %></a>
              <br />
              <%= event.title %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<% if @current_artist_view.show_recent_posts? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4">
        <%=t 'label.posts' %>
        <a href="<%= @current_artist_view.posts_path %>">
          <span class="badge"><%= @current_artist_view.posts_count %></span></a>
      </span>
      <% @current_artist_view.with_new_post_path do |path| %>
        <a href="<%= path %>" class="btn btn-default btn-xs"><%= t('action.new') %></a>
      <% end %>
    </div>
    <div class="panel-body">
      <ul class="post-list">
        <% @current_artist_view.recent_posts.each do |post| %>
          <li><%= link_to post.title, @current_artist_view.post_path(post) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @current_artist_view.show_recent_videos? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4">
        <%=t 'label.videos' %>
        <a href="<%= @current_artist_view.videos_path %>">
          <span class="badge"><%= @current_artist_view.videos_count %></span></a>
      </span>
      <% @current_artist_view.with_new_video_path do |path| %>
        <a href="<%= path %>" class="btn btn-default btn-xs"><%= t('action.new') %></a>
      <% end %>
    </div>
    <div class="panel-body">
      <ul class="video-list">
        <% @current_artist_view.recent_videos.each do |video| %>
          <li><%= link_to video.title, @current_artist_view.video_path(video) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @current_artist_view.show_recent_albums? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4">
        <%=t 'label.albums' %>
        <a href="<%= @current_artist_view.albums_path %>">
          <span class="badge"><%= @current_artist_view.albums_count %></span>
        </a>
      </span>
      <% @current_artist_view.with_new_album_path do |path| %>
        <a href="<%= path %>" class="btn btn-default btn-xs"><%= t('action.new') %></a>
      <% end %>
    </div>
    <div class="panel-body">
      <ul class="album-list">
        <% @current_artist_view.recent_albums.each do |album| %>
          <li><%= link_to album.title, @current_artist_view.album_path(album) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
