<%= render_title %>
<% if current_user %>
  <p><%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %></p>
<% end %>
<div class="media">
  <% if current_artist.image? %>
    <%= link_to image_tag(@presenter.image.thumb.url, :alt => @presenter.name, :class => 'media-object' ),
      artist_path( current_artist ), :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead"><%= @presenter.summary %></p>
  </div>
</div>
<br />
<div class="long-text">
  <%= render_text @presenter.description %>
</div>
