<%= render_title %>
<% if current_user %>
<p>
  <a href="<%= artist.new_album_path %>" class="small button"><%= t('action.add_album') %></a>
  <a href="<%= artist.new_page_path %>" class="small button"><%= t('action.add_page') %></a>
  &nbsp;
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<% end %>
<div class="row">
  <div class="six columns">
  <% if current_artist.image? %>
    <%= link_to image_tag(@presenter.image.thumb.url, alt: @presenter.name), artist_path( current_artist ) %>
  <% end %>
  </div>
  <div class="six columns">
    <p><%= @presenter.summary %></p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="long-text">
      <%= render_text @presenter.description %>
    </div>
  </div>
</div>
