<%= render_title %>
<% content_for :context_actions do %>
  <% if can? :write_artist, @artist %>
    <%= link_to_action t( 'helpers.action.artist.edit' ), edit_artist_path( current_artist ) %>
  <% end %>
<% end %>
<div class="media">
  <% if current_artist.image? %>
    <%= link_to image_tag( current_artist.image.thumb.url, :alt => current_artist.name, :class => 'media-object' ),
      artist_path( current_artist ), :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead"><%= @artist.summary %></p>
  </div>
</div>
<br />
<div class="long-text">
<%= render_textile @artist.description %>
</div>
