<%= render_title %>
<p>
  <div class="btn-group">
    <% if can? :write_artist, @artist %>
      <a href="<%= edit_artist_path(@artist) %>" class="btn btn-default btn-xs"><%=t 'action.edit' %></a>
    <% end %>
  </div>
</p>
<div class="media">
  <% if current_artist.image? %>
    <%= link_to image_tag( current_artist.image.thumb.url, :alt => current_artist.name, :class => 'media-object' ),
      artist_path( current_artist ), :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead"><%= @artist.summary %></p>
  </div>
</div>
<br />
<div class="long-text">
<%= render_text @artist.description %>
</div>
