<%= render_title %>
<% if current_user %>
<p>
  <a href="<%= artist.new_album_path %>" class="small button"><%= t('action.add_album') %></a>
  <a href="<%= artist.new_page_path %>" class="small button"><%= t('action.add_page') %></a>
  &nbsp;
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<% end %>
<%= render 'artists/artist' %>
<div class="row">
  <div class="col-md-12">
    <div class="long-text">
      <%= render_text @presenter.description %>
    </div>
  </div>
</div>
