<%= render_title album.title %>
<h2>
  <%= album.title %>
  <% unless album.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t 'title.attachments' %></h3>
<p>
  <a href="<%= album.path %>" class="small tertiary button"><%=t 'action.cancel_new' %></a>
</p>

<ul>
  <% album.attachments.each do |attachment| %>
    <li>
      <a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a>
      <% if current_user %>
        <a href="<%= admin_artist_album_attachment_path(album.artist, album.resource, attachment) %>" class="small secondary button" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
          <%=t 'action.delete' %>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>

<h3><%=t 'title.new_attachment' %></h3>
<%= form_for [:admin, artist.resource, album.resource, @presenter.resource], :html => {:multipart => true} do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :file, t('label.attachment.file') %>
    <%= f.file_field :file %>
  </div>
  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>
