<%= render_title t( 'helpers.title.user.edit_password' ), @user.login, t( 'helpers.title.user.index' ) %>
<h1><%= t 'helpers.title.user.index' %></h1>
<h2><%= @user.login %></h2>
<h3><%= t 'helpers.title.user.edit_password' %></h3>
<% content_for :actions do %>
	<ul>
		<li><%= link_to t( 'helpers.action.cancel_edit' ), admin_user_path( @user ) %></li>
	</ul>
<% end %>
<%= form_for [:admin, @user] do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend><%= t( 'helpers.legend.user' ) %></legend>
		<%= f.label :password, t( 'helpers.label.user.password' ) %>
		<%= f.password_field :password %> <br />
		<%= f.label :password_confirmation, t( 'helpers.label.user.password_confirmation' ) %>
		<%= f.password_field :password_confirmation %> <br />
		<%= f.submit t( 'helpers.action.save' ) %>
	</fieldset>
<% end %>


