<%= render_title t('title.user.edit_password'), @presenter.login, t('title.user.index') %>
<h1><%= t 'title.user.index' %></h1>
<h2><%= @presenter.login %></h2>
<h3><%= t 'title.user.edit_password' %></h3>
<p>
  <%= link_to_action t('action.cancel_edit'), @presenter.path %>
</p>
<%= form_for [:admin, @presenter.resource] do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :password, t('label.user.password') %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t('label.user.password_confirmation') %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>
