<%= render_title t( 'helpers.title.user.edit_password' ), @user.login, t( 'helpers.title.user.index' ) %>
<h1><%= t 'helpers.title.user.index' %></h1>
<h2><%= @user.login %></h2>
<h3><%= t 'helpers.title.user.edit_password' %></h3>
<% content_for :context_actions do %>
  <%= link_to_action t( 'helpers.action.cancel_edit' ), admin_user_path( @user ) %>
<% end %>
<%= form_for [:admin, @user] do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :password, t( "helpers.label.user.password" ) %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t( "helpers.label.user.password_confirmation" ) %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-default"><%=t 'helpers.action.save' %></button>
<% end %>


