<%= render_title t('title.user.edit'), @presenter.login, t('title.user.index') %>
<h1><%= t 'title.user.index'  %></h1>
<h2><%= @presenter.login %></h2>
<h3><%= t 'title.user.edit' %></h3>
<% content_for :actions do %>
  <%= link_to_action t('action.cancel_edit'), @presenter.path %>
<% end %>
<%= form_for [:admin, @presenter.resource] do |f| %>
	<%= f.error_messages %>
  <% if can? :write, :user %>
    <div class="checkbox">
			<%= f.label :admin, t( 'label.user.admin' ) %>
			<%= f.check_box :admin, class: 'form-control' %>
    </div>
    <div class="checkbox">
			<%= f.label :publisher, t( 'label.user.publisher' ) %>
			<%= f.check_box :publisher, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
		<%= f.label :login, t( 'label.user.login' ) %>
		<%= f.text_field :login, class: 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.label :email, t( 'label.user.email' ) %>
		<%= f.text_field :email, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>
