<%= render_title t( 'helpers.title.user.new' ), t( 'helpers.title.user.index' ) %>
<h1><%= t 'helpers.title.user.index' %></h1>
<h2><%= t 'helpers.title.user.new' %></h2>
<% content_for :actions do %>
  <%= link_to_action t( 'helpers.action.cancel_new' ), admin_users_path %>
<% end %>
<%= form_for [:admin, @user] do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
		<%= f.label :login, t( 'helpers.label.user.login' ) %>
		<%= f.text_field :login, class: 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.label :email, t( 'helpers.label.user.email' ) %>
		<%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="checkbox">
		<%= f.label :admin, t( 'helpers.label.user.admin' ) %>
		<%= f.check_box :admin %>
  </div>
  <div class="form-group">
		<%= f.label :password, t( 'helpers.label.user.password' ) %>
		<%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
		<%= f.label :password_confirmation, t( 'helpers.label.user.password_confirmation' ) %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default"><%=t 'helpers.action.save' %></button>
<% end %>


