<%= render_title @user.login, t( 'helpers.title.user.index' ) %>
<h1><%= t 'helpers.title.user.index' %></h1>
<h2><%= @user.login %></h2>
<p>
  <div class="btn-group">
  <% if can? :write_user, @user %>
      <a href="<%= admin_edit_password_path %>" class="btn btn-default btn-xs"><%=t 'helpers.action.user.edit_password' %></a>
      <a href="<%= edit_admin_user_path %>" class="btn btn-default btn-xs"><%=t 'helpers.action.user.edit' %></a>
      <a href="<%= admin_user_path(@user) %>" class="btn btn-danger btn-xs" data-confirm="<%=t 'helpers.action.destroy_confirmation' %>" data-method="delete"><%=t 'helpers.action.user.destroy' %></a>
    <% end %>
  </div>
</p>
<dl class="dl-horizontal">
	<dt><%=t 'helpers.label.user.login' %></dt>
		<dd><%= @user.login %></dd>
  <% unless @user.email.blank? %>
    <dt><%=t 'helpers.label.user.email' %></dt>
      <dd><%= @user.email %></dd>
  <% end %>
	<dt><%=t 'helpers.label.user.admin' %></dt>
		<dd><%= @user.admin? ? t( 'helpers.label.true_value' ) : t( 'helpers.label.false_value' )%></dd>
	<dt><%=t 'helpers.label.user.login_count' %></dt>
		<dd><%= @user.login_count %></dd>
	<dt><%=t 'helpers.label.user.failed_login_count' %></dt>
		<dd><%= @user.failed_login_count %></dd>
	<dt><%=t 'helpers.label.user.last_login_at' %></dt>
		<dd><%=l( @user.last_login_at ) if @user.last_login_at %></dd>
	<dt><%=t 'helpers.label.user.created_at' %></dt>
		<dd><%=l @user.created_at %></dd>
	<dt><%=t 'helpers.label.user.updated_at' %></dt>
		<dd><%=l @user.updated_at %></dd>
</dl>
<h3><%=t 'helpers.title.membership.index' %></h3>
<ul class="user-memberships">
  <% @user.memberships.each do |membership| %>
    <li><%= membership.artist.name %>
      <% if can? :write_membership, membership %>
        <%= link_to t( 'helpers.action.membership.destroy' ), admin_membership_path( membership ), :method => :delete, :class => 'btn btn-warning btn-xs' %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if can? :write_membership, Membership %>
  <%= form_for [:admin, @membership] do |f| %>
    <%= f.hidden_field :user_id %>
    <div class="form-group">
      <%= f.label :artist_id, t( "helpers.label.membership.artist_id" ) %>
      <%= f.collection_select :artist_id, @user.other_artists, :id, :name %>
    </div>
    <button type="submit" class="btn btn-default"><%=t 'helpers.action.save' %></button>
  <% end %>
<% end %>

