<%= render_title @presenter.login, t('title.user.index') %>
<h1><%= t 'title.user.index' %></h1>
<h2><%= @presenter.login %></h2>
<p>
  <div class="btn-group">
  <% if current_user.can_manage_account? %>
      <a href="<%= @presenter.edit_password_path %>" class="btn btn-default btn-xs"><%=t 'action.user.edit_password' %></a>
      <a href="<%= @presenter.edit_path %>" class="btn btn-default btn-xs"><%=t 'action.user.edit' %></a>
      <a href="<%= @presenter.path %>" class="btn btn-danger btn-xs" data-confirm="<%=t 'action.destroy_confirmation' %>" data-method="delete"><%=t 'action.user.destroy' %></a>
    <% end %>
  </div>
</p>
<dl class="dl-horizontal">
	<dt><%=t 'label.user.login' %></dt>
		<dd><%= @presenter.login %></dd>
  <% unless @presenter.email.blank? %>
    <dt><%=t 'label.user.email' %></dt>
      <dd><%= @presenter.email %></dd>
  <% end %>
	<dt><%=t 'label.user.admin' %></dt>
		<dd><%= @presenter.admin? ? t('label.true_value') : t('label.false_value')%></dd>
	<dt><%=t 'label.user.publisher' %></dt>
		<dd><%= @presenter.publisher? ? t('label.true_value') : t('label.false_value')%></dd>
	<dt><%=t 'label.user.login_count' %></dt>
		<dd><%= @presenter.login_count %></dd>
	<dt><%=t 'label.user.failed_login_count' %></dt>
		<dd><%= @presenter.failed_login_count %></dd>
	<dt><%=t 'label.user.last_login_at' %></dt>
		<dd><%=l( @presenter.last_login_at ) if @presenter.last_login_at %></dd>
	<dt><%=t 'label.user.created_at' %></dt>
		<dd><%=l @presenter.created_at %></dd>
	<dt><%=t 'label.user.updated_at' %></dt>
		<dd><%=l @presenter.updated_at %></dd>
</dl>
<h3><%=t 'title.membership.index' %></h3>
<ul class="user-memberships">
  <% @presenter.memberships.each do |membership| %>
    <li><%= membership.artist.name %>
      <% if current_user.can_manage_memberships? %>
        <%= link_to t('action.membership.destroy'), admin_user_membership_path(@presenter.resource, membership), :method => :delete, :class => 'btn btn-warning btn-xs' %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if current_user.can_manage_memberships? %>
  <%= form_for [:admin, @presenter.resource, @membership] do |f| %>
    <%= f.hidden_field :user_id %>
    <div class="form-group">
      <%= f.label :artist_id, t('label.membership.artist_id') %>
      <%= f.collection_select :artist_id, @presenter.other_artists, :id, :name %>
    </div>
    <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
  <% end %>
<% end %>
