<%= render_title @user.login, t( 'helpers.title.user.index' ) %>
<h1><%= t 'helpers.title.user.index' %></h1>
<h2><%= @user.login %></h2>
<% content_for :actions do %>
	<ul>
		<% if can? :update, @user %>
			<li><%= link_to t( 'helpers.action.user.edit_password' ), admin_edit_password_path %></li> 
		<% end %>
		<% if can? :update, @user %>
			<li><%= link_to t( 'helpers.action.user.edit' ), edit_admin_user_path %></li> 
		<% end %>
		<% if can? :destroy, @user %>
			<li><%= link_to t( 'helpers.action.user.destroy' ), admin_user_path( @user ), :method => :delete,
				:confirm => t( 'helpers.action.destroy_confirmation' ) %></li>
		<% end %>
	</ul>
<% end %>
<dl>
	<dt><%=t 'helpers.label.user.login' %></dt>
		<dd><%= @user.login %></dd>
	<dt><%=t 'helpers.label.user.email' %></dt>
		<dd><%= @user.email %></dd>
	<dt><%=t 'helpers.label.user.admin' %></dt>
		<dd><%= @user.admin? ? t( 'helpers.label.true_value' ) : t( 'helpers.label.false_value' )%></dd>
	<dt><%=t 'helpers.label.user.login_count' %></dt>
		<dd><%= @user.login_count %></dd>
	<dt><%=t 'helpers.label.user.failed_login_count' %></dt>
		<dd><%= @user.failed_login_count %></dd>
	<dt><%=t 'helpers.label.user.last_login_at' %></dt>
		<dd><%=l( @user.last_login_at ) if @user.last_login_at %></dd>
	<dt><%=t 'helpers.label.user.created_at' %></dt>
		<dd><%=l @user.created_at %></dd>
	<dt><%=t 'helpers.label.user.updated_at' %></dt>
		<dd><%=l @user.updated_at %></dd>
</dl>
