<%= form_for [current_artist, resource] do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :title, t( "label.video.title" ) %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :url, t( "label.video.url" ) %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body, t( "label.video.body" ) %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>

