<%= render_title t( 'helpers.title.video.index' ) %>

<% if current_artist? %>
  <h1><%= current_artist.name %></h1>
  <h2><%= t 'helpers.title.video.index' %></h2>
<% else %>
  <h1 class="hidden"><%= t 'helpers.title.video.index' %></h1>
<% end %>

<% if @videos.empty? %>
  <%= t( 'helpers.label.nothing_here_yet' ) %>
<% end %>
<ul class="thumbnails">
<% @videos.each do |video| %>
  <li class="span2">
    <div class="thumbnail text-center"><%= render video %></div>
  </li>
<% end %>
</ul>

