<%= render_title @video.title %>
<% content_for :actions do %>
  <% if can? :write_video, Video %>
    <%= link_to_action t( 'helpers.action.video.new' ), new_video_path %>
  <% end %>
  <% if can? :write_video, @video %>
    <%= link_to_action t( 'helpers.action.video.edit' ), edit_video_path %>
  <% end %>
  <% if can? :write_video, @video %>
    <%= link_to_action t( 'helpers.action.video.destroy' ), video_path( @video ), :method => :delete,
      :confirm => t( 'helpers.action.destroy_confirmation' ) %>
  <% end %>
<% end %>

<h1><%= current_artist.name %></h1>
<h2><%= t 'helpers.title.video.index' %></h2>
<h3><%= @video.title %></h3>
<% if @video.embed_url %>
  <iframe width="420" height="315" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen></iframe>
<% end %>
<div class="long-text">
  <%= render_text @video.body %>
</div>
<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: video_url( @video ) } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>

