<%= render_title @video.title %>
<h2><%= @video.title %></h2>
<p>
  <div class="btn-group">
    <% if can? :write_video, @video %>
      <a href="<%= edit_artist_video_path(@video.artist, @video) %>" class="btn btn-default btn-xs"><%=t 'helpers.action.edit' %></a>
    <% end %>
    <% if can? :write_video, @video %>
      <a href="<%= artist_video_path(@video.artist, @video) %>" class="btn btn-danger btn-xs" data-confirm="<%=t 'helpers.action.destroy_confirmation' %>" method="delete"><%=t 'helpers.action.delete' %></a>
    <% end %>
  </div>
</p>
<p>
  <% if @video.embed_url %>
    <iframe width="420" height="315" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</p>
<p>
  <%= render_text @video.body %>
</p>
<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: artist_video_url( @video.artist, @video ) } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>

