<%= render_title @presenter.title %>
<h2><%= @presenter.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<p>
  <% if @presenter.embed_url %>
    <iframe width="420" height="315" src="<%= @presenter.embed_url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</p>
<p>
  <%= render_text @presenter.body %>
</p>
<br />
<%= render partial: 'embeds/all' %>
