<a href="<%= presenter.edit_path %>" class="btn btn-default btn-xs"><%=t 'action.edit' %></a>
<a href="<%= presenter.path %>" class="btn btn-danger btn-xs pull-right" data-confirm="<%=t 'action.destroy_confirmation' %>" data-method="delete"><%=t 'action.delete' %></a>
