<%= render_title @current_view.new_title %>
<h2><%= @current_view.new_title %></h2>
<p>
  <a href="<%= @current_view.index_path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render partial: 'form' %>
