<%= render_title @presenter.new_title %>
<h2><%= @presenter.new_title %></h2>
<p>
  <a href="<%= @presenter.index_path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render partial: 'form' %>
