<%= render_title @current_album_presenter.title %>
<h2>
  <%= @current_album_presenter.title %>
  <% unless @current_album_presenter.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t( 'title.attachment.new' ) %></h3>
<p>
  <a href="<%= @current_album_presenter.show_path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>

<%= form_for [current_artist, @current_album_presenter.resource, @presenter.resource], :html => {:multipart => true} do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :file, t('label.attachment.file') %>
    <%= f.file_field :file %>
  </div>
  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>
