<%= render_actions :event, :cancel_edit => event_path( @event ) %>
<%= render_title t( 'helpers.title.event.edit' ) %>
<h1><%= @event.artist.name %></h1>
<h2><%= t 'helpers.title.event.index'  %></h2>
<h3><%= t 'helpers.title.event.edit' %></h3>
<%= render :partial => 'form' %>
