<%= render_title t('label.events') %>

<h2 class="hidden"><%= t 'label.events' %></h2>

<% if @presenters.empty? %>
 <p><%= t('label.nothing_here_yet') %></p>
<% end %>
<ul class="media-list">
<% @presenters.each do |presenter| %>
  <li class="media img-rounded">
    <% if presenter.poster? %>
      <%= link_to image_tag(presenter.poster.icon.url, :alt => presenter.title,
        :class => 'media-object media-object-thumbnail img-polaroid img-rounded'),
        presenter.path, :class => 'pull-left' %>
    <% end %>
    <div class="media-body">
      <h5><%= event_icon(presenter.expired?) %><%= link_to presenter.title, presenter.path %></h5>
      <p>
        <%= event_date(presenter) %><br />
        <%= presenter.location %>
        <% if presenter.address.present? %>
          <br />
          <small><%= presenter.address %></small>
        <% end %>
      </p>
      <div class="long-text"><%= render_text presenter.body %></div>
    </div>
  </li>
<% end %>
</ul>
