<% unless current_artist %>
  <%= render partial: 'news/sidebar' %>
<% end %>

<%= render_title t( 'helpers.title.event.index' ) %>

<% if current_artist? %>
  <h1><%= current_artist.name %></h1>
  <h2><%= t 'helpers.title.event.index' %></h2>
<% else %>
  <h1 class="hidden"><%= t 'helpers.title.event.index' %></h1>
<% end %>
<% if @category == :drafts %>
  <%= t( 'helpers.label.event.drafts' ) %>
<% end %>

<% if @events.empty? %>
 <p><%= t( 'helpers.label.nothing_here_yet' ) %></p>
<% end %>
<ul class="media-list">
<% @events.each do |event| %>
  <li class="media img-rounded">
    <% if event.poster? %>
      <%= link_to image_tag( event.poster.icon.url, :alt => event.title,
        :class => 'media-object media-object-thumbnail img-polaroid img-rounded' ),
        artist_event_path( event.artist, event ), :class => 'pull-left' %>
    <% end %>
    <div class="media-body">
      <h5><%= event_icon( event.expired? ) %><%= link_to event.title, artist_event_path( event.artist, event ) %></h5>
      <p>
        <% unless current_artist? %>
          <%= event.artist.name %>
          <br />
        <% end %>
        <%= event_date( event ) %><br />
        <%= event.location %>
        <% if event.address.present? %>
          <br />
          <small><%= event.address %></small>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>
