<%= render_title t( 'label.events' ) %>

<h2 class="hidden"><%= t 'label.events' %></h2>

<% if @events.empty? %>
 <p><%= t( 'label.nothing_here_yet' ) %></p>
<% end %>
<ul class="media-list">
<% @events.each do |event| %>
  <li class="media img-rounded">
    <% if event.poster? %>
      <%= link_to image_tag( event.poster.icon.url, :alt => event.title,
        :class => 'media-object media-object-thumbnail img-polaroid img-rounded' ),
        artist_event_path( event.artist, event ), :class => 'pull-left' %>
    <% end %>
    <div class="media-body">
      <h5><%= event_icon( event.expired? ) %><%= link_to event.title, artist_event_path( event.artist, event ) %></h5>
      <p>
        <%= event_date( event ) %><br />
        <%= event.location %>
        <% if event.address.present? %>
          <br />
          <small><%= event.address %></small>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>
