<%= render_title @view.title %>
<h2><%= event_icon( @view.expired? ) %><%= @view.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { view: @view } %>
</p>
<div class="media">
  <% if @view.poster? %>
    <%= link_to image_tag(@view.poster.thumb.url, :alt => @view.title, :class => 'media-object media-object-normal'),
      @view.poster.url, :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead">
      <%= event_date(@view.resource) %><br />
      <%= @view.location %>
      <% if @view.address.present? %>
        <br />
        <small><%= @view.address %></small>
      <% end %>
    </p>
  </div>
  <p>
  <% if @view.event_time.present? %>
    <strong><%=t 'label.event.event_time' %>:</strong> <%= @view.event_time %>
  <% end %>
  <% if @view.free_entrance? %>
    <br />
    <strong><%=t 'label.event.free_entrance' %></strong>
  <% elsif @view.price.present? %>
    <br />
    <strong><%=t 'label.event.price' %>:</strong> <%= @view.price %>
  <% end %>
  </p>
  <p>
    <ul class="list-unstyled">
    <% @view.recognized_external_urls.each do |url, service| %>
      <li><%= link_to service, url, :target => '_blank' %></li>
    <% end %>
    </ul>
  </p>
</div>
<br />

<div class="long-text">
  <%= render_text @view.body %>
</div>
<br />
<%= render partial: 'embeds/all' %>
