<%= render_title @event.title %>
<% content_for :context_actions do %>
  <% if can? :write_event, @event %>
    <%= link_to_action t( 'helpers.action.event.edit' ), edit_artist_event_path( @event.artist, @event ) %>
  <% end %>
  <% if can? :write_event, @event %>
    <%= link_to_action t( 'helpers.action.event.destroy' ), artist_event_path( @event.artist, @event ), :method => :delete,
      :confirm => t( 'helpers.action.destroy_confirmation' ) %>
  <% end %>
<% end %>

<%= render :partial => 'header', :locals => { :event => @event } %>
<div class="long-text">
  <%= render_text @event.body %>
</div>
<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: artist_event_url( @event.artist, @event ) } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>

