<% content_for :sidebar do %>
  <p>
    <div id="calendar"><div style="display:none"><%= @current_date %></div></div>
    <h4><%= link_to t( 'helpers.label.events' ), events_url, :class => 'menu-link' %></h4>
    <dl>
    <% if @current_events %>
      <% @current_events.each_with_index do |event, i| %>
        <dt><%= event_icon %><a href="<%= artist_event_path( event.artist, event ) %>"><%= event_date( event ) %></a></dt>
        <dd><%= event.artist.name %> - <%= event.title %></dd>
      <% end %>
    <% end %>
    </dl>
  </p>
  <p>
    <h4><%= link_to t( 'helpers.label.posts' ), posts_url, :class => 'menu-link' %></h4>
    <dl>
    <% if @current_posts %>
      <% @current_posts.each_with_index do |post, i| %>
        <dt><%= post_icon %><%= post.artist.name %></dt>
        <dd><a href="<%= artist_post_path( post.artist, post ) %>"><%= post.title %></a></dd>
      <% end %>
    <% end %>
    </dl>
  </p>
<% end %>

