<% content_for :sidebar do %>
  <p>
    <div id="calendar"><div style="display:none"><%= @current_date %></div></div>
    <h4><%= link_to t( 'helpers.label.events' ), events_url, :class => 'menu-link' %></h4>
    <dl>
    <% if @current_events %>
      <% @current_events.each_with_index do |event, i| %>
        <dt><%= event_icon %><a href="<%= event_path( event ) %>"><%= event_date( event ) %></a></dt>
        <dd><%= event.artist.name %> - <%= event.title %></dd>
      <% end %>
    <% end %>
    </dl>
  </p>
  <p>
    <h4><%= link_to t( 'helpers.label.posts' ), posts_url, :class => 'menu-link' %></h4>
    <dl>
    <% if @current_posts %>
      <% @current_posts.each_with_index do |post, i| %>
        <dt><%= post_icon %><%= post.artist.name %></dt>
        <dd><a href="<%= post_path( post ) %>"><%= post.title %></a></dd>
      <% end %>
    <% end %>
    </dl>
  </p>
  <% if current_user? %>
  <p>
    <h4><%= t( 'helpers.label.drafts' ) %></h4>
    <ul class="unstyled">
      <li><%= link_to t( 'helpers.label.posts' ), drafts_posts_url %></li>
      <li><%= link_to t( 'helpers.label.events' ), drafts_events_url %></li>
    </ul>
  </p>
  <% end %>
<% end %>

