<%= form_for [current_artist, resource] do |f| %>
	<%= f.error_messages %>
  <div class="form-group">
    <%= f.label :title, t( 'label.page.title' ) %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reference, t( 'label.page.reference' ) %>
    <%= f.text_field :reference, disabled: !resource.new_record?, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, t( 'label.page.content' ) %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default"><%=t 'action.save' %></button>
<% end %>
