<%= render_title @page.title %>
<h2><%= @page.title %></h2>
<p>
  <a href="<%= artist_page_path(@page.artist, @page) %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_edit' %></a>
</p>
<%= render :partial => 'form' %>

