<%= render_actions :page, :cancel_edit => page_path( @page ) %>
<%= render_title t( 'helpers.title.page.edit' ) %>
<h1><%= t 'helpers.title.page.index'  %></h1>
<h2><%= t( 'helpers.title.page.edit' ) %></h2>
<%= render :partial => 'form' %>

