<%= render_title t( 'helpers.title.page.edit' ) %>
<% content_for :context_actions do %>
  <%= link_to_action t( "helpers.action.cancel_edit" ), artist_page_path( @page.artist, @page ) %>
<% end %>
<h2 class="hidden"><%= t 'helpers.title.page.index'  %></h2>
<h3><%= @page.title %></h3>
<%= render :partial => 'form' %>

