<%= render_title t( 'helpers.title.page.new' ) %>
<% content_for :actions do %>
  <%= link_to_action t( "helpers.action.cancel_new" ), artist_path( current_artist ) %>
<% end %>
<h1><%= t( 'helpers.title.page.index' ) %></h1>
<h2><%= t( 'helpers.title.page.new' ) %></h2>
<%= render :partial => 'form' %>

