<%= render_title t( 'title.page.new' ) %>
<h2><%= t( 'title.page.new' ) %></h2>
<p>
  <a href="<%= artist_path(@page.artist) %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render :partial => 'form' %>

