<%= render_title @page.title %>
<h2><%= @page.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { view: @current_view } %>
</p>
<div class="long-text">
  <%= render_text @page.content %>
</div>
<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: @current_view.show_path } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>
