<%= render_title @presenter.title %>
<%= render 'artists/artist' %>
<h2><%= @presenter.title %></h2>
<% if current_user %>
  <p><%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %></p>
<% end %>
<div class="long-text">
  <%= render_text @presenter.content %>
</div>
