<%= render_title @view.title %>
<h2><%= @view.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { view: @view } %>
</p>
<div class="long-text">
  <%= render_text @view.content %>
</div>
<br />
<%= render partial: 'embeds/all' %>
