<%= render_title @presenter.title %>
<h2><%= @presenter.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<div class="long-text">
  <%= render_text @presenter.content %>
</div>
<br />
<%= render partial: 'embeds/all' %>
