<%= render_title @presenter.title %>
<h2><%= @presenter.title %></h2>
<% if current_user.can_manage_pages?(artist.resource) %>
  <p><%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %></p>
<% end %>
<div class="long-text">
  <%= render_text @presenter.content %>
</div>
<br />
<%= render partial: 'embeds/all' %>
