<% if album_presenter.image? %>
<p>
  <a href="<%= album_presenter.path %>">
    <%= image_tag(album_presenter.image.icon.url, alt: album_presenter.title, class: 'img-rounded img-polaroid img-responsive') %>
  </a>
</p>
<% end %>
<% unless current_artist? %>
  <span class="label label-default"><%= album_presenter.artist.name %></span>
<% end %>
<p><a href="<%= album_presenter.path %>"><%= album_presenter.title %></a></p>
