<% if album_view.image? %>
<p>
  <a href="<%= album_view.show_path %>">
    <%= image_tag(album_view.image.icon.url, alt: album_view.title, class: 'img-rounded img-polaroid img-responsive') %>
  </a>
</p>
<% end %>
<% unless current_artist? %>
  <p><%= album_view.artist.name %></p>
<% end %>
<p><a href="<%= album_view.show_path %>"><%= album_view.title %></a></p>
