<% if flash[:purchased] %>
  <% if flash[:purchase_url] %>
    <span class="toast" role="alert">
      <%= t('label.digital_payment_completed') %>&nbsp;<a href="<%= flash[:purchase_url] %>"><%= flash[:purchase_url] %></a>
      <br />
      <% if current_artist.contact_email.present? %>
        <%= t('label.contact_us', email: current_artist.contact_email) %>
      <% end %>
    </span>
  <% else %>
    <span class="toast" role="alert"><%= t('label.physical_payment_completed') %></a></span>
  <% end %>
<% elsif flash[:downloads_exceeded] %>
  <span class="toast" role="alert"><%= t('label.downloads_exceeded') %></a></span>
<% end %>
