<% if !@presenter.releases.empty? %>
<div class="row">
  <% if @presenter.free_releases.any? %>
  <div class="col-sm-12">
    <% @presenter.free_releases.each do |release| %>
      <a href="<%= release.download_path %>" class="primary circular button"><%= t("label.release_format.#{release.format}") %></a>
    <% end %>
  </div>
  <% end %>
  <% @presenter.paid_releases.each do |release| %>
  <div class="col-sm-12 col-md-12 col-lg-6">
    <h5><%= t("label.release_format.#{release.format}") %> <small>(<%= release.price %>&nbsp;<%= release.currency %>)</small></h5>
    <% if release.purchased? && release.digital? %>
      <a href="<%= release.download_path %>" class="primary circular button"><%= t("label.release_format.#{release.format}") %></a>
    <% else %>
      <%= render 'embeds/paypal', release_id: release.id, payment_url: release.paypal_url %>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
