<%= render_title t( 'helpers.title.album.edit' ), @album.title %>
<h1><%= t 'helpers.title.album.index'  %></h1>
<h2><%= t 'helpers.title.album.edit' %></h2>
<% content_for :actions do %>
  <%= link_to_action t( "helpers.action.cancel_edit" ), album_path( @album ) %>
<% end %>
<%= render :partial => 'form' %>

