<%= render_title t( 'helpers.title.album.new' ) %>
<h1><%= t 'helpers.title.album.index'  %></h1>
<h2><%= t 'helpers.title.album.new' %></h2>
<% content_for :context_actions do %>
  <%= link_to_action t( "helpers.action.cancel_new" ), current_artist? ? artist_path( current_artist ) : albums_path %>
<% end %>
<%= render :partial => 'form' %>

