<%= render_title @presenter.title %>
<%= render 'artists/artist' %>

<% if current_user %>
<p>
  <a href="<%= admin_artist_album_tracks_path(@presenter.artist, @presenter.resource) %>" class="small button"><%=t 'title.tracks' %></a>
  <a href="<%= admin_artist_album_attachments_path(@presenter.artist, @presenter.resource) %>" class="small button"><%=t 'title.attachments' %></a>
  <a href="<%= admin_artist_album_releases_path(@presenter.artist, @presenter.resource) %>" class="small button"><%=t 'title.releases' %></a>
  &nbsp;
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<% end %>

<div class="row">
  <div class="col-sm-12">
  <%= render 'purchase' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <h2>
      <%= @presenter.title %>
      <% unless @presenter.published? %>
        <small><%= t('label.album.unpublished') %></small>
      <% end %>
      <small><%= @presenter.year.to_s %></small>
    </h2>
  </div>

  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div class="col-sm-12 col-lg-3">
      <% if @presenter.image? %>
        <%= link_to image_tag( @presenter.image.thumb.url, alt: @presenter.title, class: 'section media'), @presenter.image.url %>
      <% end %>
      </div>

      <div class="col-lg-9">
        <%= render 'releases' %>
      </div>

    </div>
  </div>

  <div class="col-sm-12 col-lg-3">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-info"><%= flash[:notice] %></div>
      </div>

      <% if @presenter.license %>
      <div class="col-lg-12">
        <p class="license-wrapper"><%= render :partial => 'licenses/cc', locals: { author: @presenter.artist, license: @presenter.license } %></p>
      </div>
      <% end %>

    </div>
  </div>

  <div class="col-sm-12 col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <p class="description-wrapper"><%= render_text @presenter.description %></p>
      </div>

      <% unless @presenter.donation.blank? %>
      <div class="col-lg-12">
        <p class="description-wrapper"><%=raw @presenter.donation %></p>
      </div>
      <% end %>

      <div class="col-sm-12">
        <%= render 'tracks' %>
      </div>

      <% if !@presenter.attachments.empty? %>
      <h4><%= t 'title.attachments' %></h4>
      <ul>
        <% @presenter.attachments.each do |attachment| %>
          <li><a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>

  </div>


</div>

<div class="col-sm-12">
<% if current_user %>
  <%= t('label.release.downloads') %>:
  <ul>
    <% @presenter.downloadable_releases.each do |release| %>
      <li><%= release.format %>: <%= release.downloads %></li>
    <% end %>
  </ul>
<% end %>
</div>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>
