<%= render_title @presenter.title %>
<h2>
  <%= @presenter.title %>
  <% unless @presenter.published? %>
    <small><%= t('label.album.unpublished') %></small>
  <% end %>
</h2>
<p>
  <div class="btn-group">
    <% if can? :write, Track, @presenter.resource %>
      <a href="<%= artist_album_tracks_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'action.track.index' %></a>
    <% end %>
    <% if can? :write, Attachment, @presenter.resource %>
      <a href="<%= artist_album_attachments_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'action.attachment.index' %></a>
    <% end %>
  </div>
  &nbsp;
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>

<div class="media">
  <% if @presenter.image? %>
    <%= link_to image_tag( @presenter.image.thumb.url, :alt => @presenter.title, :class => 'media-object' ), @presenter.image.url,
      :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead"><%= @presenter.year.to_s %></p>

    <p>
    <% if @presenter.license.present? %>
      <%= render :partial => 'licenses/cc',
        :locals => { :author => @presenter.artist, :license => @presenter.license } %>
    <% end %>
    </p>
    <% if can? :write, @presenter.resource %>
      <%=t 'label.release.downloads' %>: <%= @presenter.releases.sum(:downloads) %>
      <ul>
        <% @presenter.releases.each do |release| %>
          <li><%= release.format %>: <%= release.downloads %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<br />

<% if !@presenter.releases.empty? %>
  <div class="row">
    <div class="span12">
      <div class="text-info"><%= flash[:notice] %></div>
      <% @presenter.releases.each do |release| %>
        <% if release.file? %>
          <a href="<%= download_artist_album_path(@presenter.artist, @presenter.resource, release.format) %>">
            <button class="pull-left download-button img-circle">
              <%= release.format %>
            </button>
          </a>
        <% else %>
          <a href="<%= download_artist_album_path( @presenter.artist, @presenter.resource, release.format) %>" data-format="<%= release.format %>">
            <button class="pull-left download-button img-circle create-release-button">
              <%= release.format %>
            </button>
          </a>
        <% end %>
      <% end %>
      <div class="modal fade" id="download-message" tabindex="-1" role="dialog" aria-labelledby="download-message-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="download-message-label"><%= @presenter.artist.name %> - <%= @presenter.title %></h4>
              <h5 class="modal-title format"></h5>
            </div>
            <div class="modal-body">
              <p class="waiting-message">
                <%=t 'label.release_message' %>
              </p>
              <p class="progress-indicator"></p>
              <p class="ready-message">
                <a href="#" class="download-link" title="<%= t('label.download') %>">
                  <button class="download-button img-circle"><strong><%= t('label.download') %></strong></button></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @presenter.donation.blank? %>
  <div class="well donations">
    <%=raw @presenter.donation %>
    <% if Settings.donations_info_url %>
      <div><small><i><%= link_to 'Informacja na temat darowizn', Settings.donations_info_url %></i></small></div>
    <% end %>
  </div>
<% end %>

<%= render_text @presenter.description %>

<% if !@presenter.tracks.empty? %>
  <h4><%= t 'title.track.index' %></h4>
  <ol id="tracklist">
    <% @presenter.tracks.each do |track| %>
      <li data-track-id="<%= track.id %>">
      <span class="title">
        <%= track.rank %>.
        <%= track.title %>
        <% if !track.artist_name.blank? or !track.comment.blank? -%>
          <br /><small><%= [track.artist_name, track.comment].select{ |s| !s.blank? }.join(' - ') %></small>
        <% end -%>
      </span>
      <% track.releases.each do |release| %>
        <span data-url="<%= release.file.url %>" data-format="<%= release.format %>" />
      <% end %>
      </li>
    <% end %>
  </ol>

  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
        <ul class="jp-toggles">
        </ul>
      </div>
      <div class="jp-playlist">
        <ul>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
<% end %>

<% if !@presenter.attachments.empty? %>
  <h4><%= t 'title.attachment.index' %></h4>
  <ul>
    <% @presenter.attachments.each do |attachment| %>
      <li><a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a></li>
    <% end %>
  </ul>
<% end %>

<br />
<%= render partial: 'embeds/all' %>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
  $('.jp-controls').append('<li><a href="#" class="jp-previous" tabindex="1">previous</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-play" tabindex="1">play</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-pause" tabindex="1">pause</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-next" tabindex="1">next</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-stop" tabindex="1">stop</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>');
  $('.jp-controls').append('<li><a href="#" class="jp-volume-max" tabindex="1">max volume</a></li>');

  $('.jp-toggles').append('<li><a href="#" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>');
  $('.jp-toggles').append('<li><a href="#" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>');
  $('.jp-toggles').append('<li><a href="#" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>');
  $('.jp-toggles').append('<li><a href="#" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>');

	var playlist = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
	], {
		swfPath: '/js/jQuery.jPlayer.2.5.0',
		supplied: 'oga, mp4'
	});

  $( '#tracklist > li' ).each( function(index){
    track = $(this);
    media = {
      title: track.find( '.title' ).html(),
    }
    if( track.has( '[data-format=ogg]' ).size() > 0 ) {
      media['oga'] = track.find( '[data-format=ogg]' ).attr( 'data-url' );
    }
    if( track.has( '[data-format=mp4]' ).size() > 0 ) {
      media['mp3'] = track.find( '[data-format=mp3]' ).attr( 'data-url' );
    }
    playlist.add( media );
  });

  $( '#tracklist' ).remove();

  var progress_id;
  $('#download-message').on('hidden.bs.modal', function (e) {
    if( typeof progress_id !== 'undefined' ) {
      clearInterval(progress_id);
    }
  })

  function set_release_url() {

  }

  $('.create-release-button').click(function(e){
     e.preventDefault();
     a = $(this).parent('a');
     release_url = a.attr('href');
     format = a.attr('data-format');
     $.get(release_url, {}, function(data) {
       $('#download-message').find('.format').html(format);
       $('#download-message').find('.waiting-message').show();
       $('#download-message').find('.progress-indicator').html('*');
       $('#download-message').find('.progress-indicator').show();
       $('#download-message').find('.ready-message').hide();
       $('#download-message').modal('show');

       progress_id = setInterval(function() {
         $('#download-message').find('.progress-indicator').append('*');
         $.get(release_url, {}, function(data) {
           if( data.success ) {
             clearInterval(progress_id);
             $('#download-message').find('.download-link').attr('href', data.url);
             $('#download-message').find('.progress-indicator').hide();
             $('#download-message').find('.waiting-message').hide();
             $('#download-message').find('.ready-message').show();
           }
         });
       }, 3000);
     });
  });

  $('#download-message').find('.download-link').click(function() {
     $('#download-message').modal('hide');
  });
});

//]]>
</script>
