<%= render_title @presenter.title %>
<h2>
  <%= @presenter.title %>
  <% unless @presenter.published? %>
    <small><%= t('label.album.unpublished') %></small>
  <% end %>
</h2>
<p>
  <div class="btn-group">
    <% if current_user.can_manage_tracks?(@presenter.resource) %>
      <a href="<%= artist_album_tracks_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.tracks' %></a>
    <% end %>
    <% if current_user.can_manage_attachments?(@presenter.resource) %>
      <a href="<%= artist_album_attachments_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.attachments' %></a>
    <% end %>
    <% if current_user.can_manage_releases?(@presenter.resource) %>
      <a href="<%= artist_album_releases_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.releases' %></a>
    <% end %>
  </div>
  &nbsp;
  <% if current_user.can_manage_album?(@presenter.resource) %>
    <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
  <% end %>
</p>

<div class="media">
  <% if @presenter.image? %>
    <%= link_to image_tag( @presenter.image.thumb.url, :alt => @presenter.title, :class => 'media-object' ), @presenter.image.url,
      :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p><%= @presenter.year.to_s %></p>
    <p>
      <% if @presenter.license.present? %>
        <%= render :partial => 'licenses/cc',
          locals: { author: @presenter.artist, license: @presenter.license } %>
      <% end %>
    </p>
    <%= render 'releases' %>
  </div>
</div>

<br />

<div class="text-info"><%= flash[:notice] %></div>

<% if current_user.can_manage_album?(@presenter.resource) %>
  <%=t 'label.release.downloads' %>: <%= @presenter.downloads %>
  <ul>
    <% @presenter.releases.each do |release| %>
      <li><%= release.format %>: <%= release.downloads %></li>
    <% end %>
  </ul>
<% end %>

<% unless @presenter.donation.blank? %>
  <p><%=raw @presenter.donation %></p>
<% end %>

<%= render_text @presenter.description %>

<%= render 'tracks' %>

<% if !@presenter.attachments.empty? %>
  <h4><%= t 'title.attachments' %></h4>
  <ul>
    <% @presenter.attachments.each do |attachment| %>
      <li><a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a></li>
    <% end %>
  </ul>
<% end %>

<br />
<%= render partial: 'embeds/all' %>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	var playlist = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
	], {
    swfPath: 'https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.swf',
		supplied: 'oga, mp4'
	});

  $( '#tracklist > li' ).each( function(index){
    track = $(this);
    media = {
      title: track.find( '.title' ).html(),
    }
    if( track.has( '[data-format=ogg]' ).size() > 0 ) {
      media['oga'] = track.find( '[data-format=ogg]' ).attr( 'data-url' );
    }
    if( track.has( '[data-format=mp4]' ).size() > 0 ) {
      media['mp3'] = track.find( '[data-format=mp3]' ).attr( 'data-url' );
    }
    playlist.add( media );
  });

  $( '#tracklist' ).remove();
});

//]]>
</script>
