<%= render_title @album.title %>
<h2>
  <%= @album.title %>
  <% unless @album.published? %>
    <small><%= t('label.album.unpublished') %></small>
  <% end %>
</h2>
<p>
  <div class="btn-group">
    <% if can? :write, @album %>
      <a href="<%= edit_artist_album_path(@album.artist, @album) %>" class="btn btn-default btn-xs"><%=t 'action.edit' %></a>
    <% end %>
  </div>
</p>

<div class="media">
  <% if @album.image? %>
    <%= link_to image_tag( @album.image.thumb.url, :alt => @album.title, :class => 'media-object' ), @album.image.url,
      :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <p class="lead"><%= @album.year.to_s %></p>

    <p>
    <% if @album.license.present? %>
      <%= render :partial => 'licenses/cc',
        :locals => { :author => @album.artist, :license => @album.license } %>
    <% end %>
    </p>
  </div>
</div>

<br />

<div class="row">
  <div class="span12">
    <div class="text-info"><%= flash[:notice] %></div>
    <% Release::FORMATS.each do |format| %>
      <%= form_tag release_artist_album_path( @album.artist, @album, format ), class: 'pull-left',
          'data-format' => format do %>
        <%= submit_tag format, class: 'download-button img-circle create-release-button'%>
      <% end %>
    <% end %>
    <div class="modal fade" id="download-message" tabindex="-1" role="dialog" aria-labelledby="download-message-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="download-message-label"><%= @album.artist.name %> - <%= @album.title %></h4>
            <h5 class="modal-title format"></h5>
          </div>
          <div class="modal-body">
            <p class="waiting-message">
              <%=t 'label.release_message' %>
            </p>
            <p class="progress-indicator"></p>
            <p class="ready-message">
              <a href="#" class="download-link" title="<%= t('label.download') %>">
                <button class="download-button img-circle"><strong><%= t('label.download') %></strong></button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @album.donation.blank? %>
  <div class="well donations">
    <%=raw @album.donation %>
    <% if Setting.get( 'donations_info_url' ) %>
      <div><small><i><%= link_to 'Informacja na temat darowizn', Setting.get( 'donations_info_url' ) %></i></small></div>
    <% end %>
  </div>
<% end %>

<%= render_text @album.description %>

<% unless @album.tracks.empty? %>
  <h4><%= t 'title.track.index' %></h4>
  <% if can? :write, Track, @album %>
    <p>
      <a href="<%= new_artist_album_track_path(@album.artist, @album) %>" class="btn btn-default btn-xs"><%=t 'action.new' %></a>
    </p>
  <% end %>
  <ol id="tracklist">
    <% @album.tracks.each do |track| %>
      <li data-track-id="<%= track.id %>">
      <span class="title">
        <%= track.rank %>.
        <%= track.title %>
        <% unless track.comment.blank? -%><br /><small><%= track.comment %></small> <% end -%>
        <% if can? :write, track %>
          <div class="btn-group pull-right">
            <a href="<%= edit_artist_album_track_path(@album.artist, @album, track) %>" class="btn btn-default btn-xs">
              <%=t 'action.edit' %>
            </a>
            <a href="<%= artist_album_track_path(@album.artist, @album, track) %>" class="btn btn-danger btn-xs" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
              <%=t 'action.delete' %>
            </a>
          </div>
        <% end %>
      </span>
      <% track.releases.each do |release| %>
        <span data-url="<%= release.file.url %>" data-format="<%= release.format %>" />
      <% end %>
      </li>
    <% end %>
  </ol>

  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
        <ul class="jp-toggles">
        </ul>
      </div>
      <div class="jp-playlist">
        <ul>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
<% end %>

<h4><%= t 'title.attachment.index' %></h4>
<% if can? :write, Attachment, @album %>
  <p>
    <a href="<%= new_artist_album_attachment_path(@album.artist, @album) %>" class="btn btn-default btn-xs"><%=t 'action.new' %></a>
  </p>
<% end %>
<% if @album.attachments.empty? %>
  <%=t 'label.nothing_here' %>
<% end %>
<ul>
  <% @album.attachments.each do |attachment| %>
    <li>
      <a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a>
      <% if can? :write, attachment %>
        <a href="<%= artist_album_attachment_path(@album.artist, @album, attachment) %>" class="btn btn-danger btn-xs" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
          <%=t 'action.delete' %>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>

<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: artist_album_url( @album.artist, @album ) } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-previous" tabindex="1">previous</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-play" tabindex="1">play</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-pause" tabindex="1">pause</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-next" tabindex="1">next</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-stop" tabindex="1">stop</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>' );
  $( '.jp-controls' ).append( '<li><a href="#" class="jp-volume-max" tabindex="1">max volume</a></li>' );

  $( '.jp-toggles' ).append( '<li><a href="#" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>' );
  $( '.jp-toggles' ).append( '<li><a href="#" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>' );
  $( '.jp-toggles' ).append( '<li><a href="#" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>' );
  $( '.jp-toggles' ).append( '<li><a href="#" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>' );

	var playlist = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
	], {
		swfPath: '/js/jQuery.jPlayer.2.5.0',
		supplied: 'oga, mp3'
	});

  $( '#tracklist > li' ).each( function(index){
    track = $(this);
    media = {
      title: track.find( '.title' ).html(),
    }
    if( track.has( '[data-format=ogg]' ).size() > 0 ) {
      media['oga'] = track.find( '[data-format=ogg]' ).attr( 'data-url' );
    }
    if( track.has( '[data-format=mp3]' ).size() > 0 ) {
      media['mp3'] = track.find( '[data-format=mp3]' ).attr( 'data-url' );
    }
    playlist.add( media );
  });

  $( '#tracklist' ).remove();

  var progress_id;
  $('#download-message').on('hidden.bs.modal', function (e) {
    if( typeof progress_id !== 'undefined' ) {
      clearInterval(progress_id);
    }
  })

  $('.create-release-button').click(function(e){
     e.preventDefault();
     form = $(this).parent('form');
     release_url = form.attr('action');
     format = form.attr('data-format');
     $.post(release_url, {}, function(data) {
       $('#download-message').find('.format').html(format);
       $('#download-message').find('.waiting-message').show();
       $('#download-message').find('.progress-indicator').html('*');
       $('#download-message').find('.progress-indicator').show();
       $('#download-message').find('.ready-message').hide();
       $('#download-message').modal('show');

       progress_id = setInterval(function() {
         $('#download-message').find('.progress-indicator').append('*');
         $.get(release_url, {}, function(data) {
           if( data.success ) {
             clearInterval(progress_id);
             $('#download-message').find('.download-link').attr('href', data.url);
             $('#download-message').find('.progress-indicator').hide();
             $('#download-message').find('.waiting-message').hide();
             $('#download-message').find('.ready-message').show();
           }
         });
       }, 3000);
     });
  });
});

//]]>
</script>

