<%= render_title @presenter.title %>
<h2>
  <%= @presenter.title %>
  <% unless @presenter.published? %>
    <small><%= t('label.album.unpublished') %></small>
  <% end %>
</h2>
<%= render 'purchase' %>
<% if current_user %>
<p>
  <div class="btn-group">
    <a href="<%= admin_artist_album_tracks_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.tracks' %></a>
    <a href="<%= admin_artist_album_attachments_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.attachments' %></a>
    <a href="<%= admin_artist_album_releases_path(@presenter.artist, @presenter.resource) %>" class="btn btn-default btn-xs"><%=t 'title.releases' %></a>
  </div>
  &nbsp;
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<% end %>

<p><%= @presenter.year.to_s %></p>
<div class="media">
  <% if @presenter.image? %>
    <%= link_to image_tag( @presenter.image.thumb.url, :alt => @presenter.title, :class => 'media-object' ), @presenter.image.url,
      :class => 'pull-left' %>
  <% end %>
  <div class="media-body">
    <%= render 'releases' %>
  </div>
</div>

<% if @presenter.license.present? %>
<br />
<p><%= render :partial => 'licenses/cc', locals: { author: @presenter.artist, license: @presenter.license } %></p>
<% end %>

<br />
<div class="text-info"><%= flash[:notice] %></div>

<% if current_user %>
  <%=t 'label.release.downloads' %>:
  <ul>
    <% @presenter.releases.each do |release| %>
      <li><%= release.format %>: <%= release.downloads %></li>
    <% end %>
  </ul>
<% end %>

<% unless @presenter.donation.blank? %>
  <p><%=raw @presenter.donation %></p>
<% end %>

<%= render_text @presenter.description %>

<%= render 'tracks' %>

<% if !@presenter.attachments.empty? %>
  <h4><%= t 'title.attachments' %></h4>
  <ul>
    <% @presenter.attachments.each do |attachment| %>
      <li><a href="<%= attachment.file.url %>"><%= File.basename(attachment.file.path) %></a></li>
    <% end %>
  </ul>
<% end %>

<br />
<%= render partial: 'embeds/all' %>
