<%= form_for [:admin, artist.resource, album.resource, resource], :html => {:multipart => true} do |f| %>
	<%= f.error_messages %>
  <fieldset class="input-group vertical">
    <%= f.label :title, t('label.track.title') %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :rank, t('label.track.rank') %>
    <%= f.text_field :rank, class: 'form-control' %>
  </fieldset>

  <fieldset class="input-group vertical">
    <%= f.label :file, t( "label.track.file" ) %>
    <% if resource.file? %>
      <p><%= File.basename(resource.file.path) %></p>
      <%= f.label :remove_file do %>
        <%= f.check_box :remove_file %>
        <%= t( "action.remove_file" ) %>
      <% end %>
    <% end %>
    <%= f.collection_select :file, @presenter.available_files, :to_s, :to_s, { include_blank: true } %>
  </fieldset>

  <fieldset class="input-group vertical">
    <%= f.label :artist_name, t('label.track.artist_name') %>
    <p class="help-block">(<%= t('label.defaults_to') %> <%= resource.artist.name %>)</p>
    <%= f.text_field :artist_name, class: 'form-control' %>
  </fieldset>

  <fieldset class="input-group vertical">
    <%= f.label :comment, t('label.track.comment') %>
    <%= f.text_area :comment, class: 'form-control' %>

    <%= f.label :lyrics, t('label.track.lyrics') %>
    <%= f.text_area :lyrics, class: 'form-control' %>
  </fieldset>
  <button type="submit"><%=t 'action.save' %></button>
<% end %>
