<%= render_title album.title %>
<h2>
  <%= album.title %>
  <% unless album.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t('title.tracks') %></h3>
<p>
  <a href="<%= album.path %>" class="small tertiary button"><%=t 'action.cancel_new' %></a>
</p>

<ul>
  <% album.tracks.each do |track| %>
    <li>
      <%= track.rank %>.
      <%= track.title %>
      <%= render partial: 'lyrics', locals: { track: track } %>
      <% if !track.artist_name.blank? -%>
        <br />
        <small><%= track.artist_name %></small>
      <% end -%>
      <% if !track.comment.blank? -%>
        <br />
        <small><%= track.html_comment %></small>
      <% end -%>
      <br />
      <% if current_user %>
        <div class="button-group">
          <a href="<%= track.edit_path %>" class="small button">
            <%=t 'action.edit' %>
          </a>
          <a href="<%= admin_artist_album_track_path(album.artist, album.resource, track.resource) %>" class="small secondary button" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
            <%=t 'action.delete' %>
          </a>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h3><%= t('title.new_track') %></h3>
<%= render :partial => 'form', locals: { resource: @presenter.resource } %>
