<div id="paypal-button-<%= release_id %>" data-locale="<%= t('locale') %>" data-environment="<%= Rails.env.production? ? 'production' : 'sandbox' %>" class="paypal-button"><a href="<%= payment_url %>"></a></div>
<p class="paypal-confirmation alert alert-success hidden"><%= t('label.payment_completed') %></p>
