<% content_for :sidebar do %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= events_path %>"><%=t 'label.events' %></a></h4>
    </div>
    <div id="calendar"><div style="display:none"><%= @current_date %></div></div>
    <% if @current_events %>
      <div class="panel-body">
        <ul class="event-list">
          <% @current_events.each_with_index do |event, i| %>
            <li>
              <a href="<%= artist_event_path(event.artist, event) %>"><%= event_date( event ) %></a> - <%= event.artist.name %>
              <br />
              <%= event.title %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= posts_path %>"><%=t 'label.posts' %></a></h4>
    </div>
    <% if @current_posts %>
      <div class="panel-body">
        <ul class="post-list">
        <% @current_posts.each do |post| %>
          <li>
            <%= post.artist.name %><br />
            <a href="<%= artist_post_path( post.artist, post ) %>"><%= post.title %></a>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= videos_path %>"><%=t 'label.videos' %></a></h4>
    </div>
    <% if @current_videos %>
      <div class="panel-body">
        <ul class="post-list">
        <% @current_videos.each do |video| %>
          <li>
            <%= video.artist.name %><br />
            <a href="<%= artist_video_path( video.artist, video ) %>"><%= video.title %></a>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

