<% content_for :sidebar do %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= events_path %>"><%=t 'label.events' %></a></h4>
    </div>
    <div id="calendar"><div style="display:none"><%= @current_date %></div></div>
    <% unless @recent_events.empty? %>
      <div class="panel-body">
        <ul class="event-list">
          <% @recent_events.each_with_index do |view, i| %>
            <li>
              <a href="<%= view.show_path %>"><%= event_date(view.resource) %></a> - <%= view.artist.name %>
              <br />
              <%= view.title %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= posts_path %>"><%=t 'label.posts' %></a></h4>
    </div>
    <% unless @recent_posts.empty? %>
      <div class="panel-body">
        <ul class="post-list">
        <% @recent_posts.each do |view| %>
          <li>
            <%= view.artist.name %><br />
            <a href="<%= view.show_path %>"><%= view.title %></a>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a href="<%= videos_path %>"><%=t 'label.videos' %></a></h4>
    </div>
    <% unless @recent_videos.empty? %>
      <div class="panel-body">
        <ul class="video-list">
        <% @recent_videos.each do |view| %>
          <li>
            <%= view.artist.name %><br />
            <a href="<%= view.show_path %>"><%= view.title %></a>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
