<%= render_title t('title.albums') %>
<% content_for(:header) do %>
  <h1><%= t('title.albums') %></h1>
<% end %>
<% if current_user %>
  <% content_for :actions do %>
    <%= link_to_action t('action.add_artist'), new_admin_artist_path %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <% @album_presenters.each do |album_presenter| %>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <% if album_presenter.image? %>
          <a href="<%= album_presenter.path %>">
            <%= image_tag(album_presenter.image.icon.url, alt: album_presenter.title, class: 'rounded') %>
          </a>
        <% end %>
        <h4><a href="<%= album_presenter.path %>"><%= album_presenter.title %></a> <small><%= album_presenter.artist.name %></small></h4>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3><%= t('title.artists') %></h3>
      </div>
    <% @artist_presenters.each do |artist_presenter| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <% if artist_presenter.image? %>
        <a href="<%= artist_presenter.path %>">
          <%= image_tag(artist_presenter.image.icon.url, alt: artist_presenter.name, title: artist_presenter.summary, class: 'rounded') %>
        </a>
      <% end %>
      </div>
      <div class="col-sm-6 col-md-8 col-lg-9">
        <h4><a href="<%= artist_presenter.path %>"><%= artist_presenter.name %></a></h4>
        <p><%= artist_presenter.summary %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
