<%= render_title t('title.albums') %>
<% content_for(:header) do %>
  <h1><%= t('title.albums') %></h1>
<% end %>

<div class="row">
<% @album_presenters.each do |album_presenter| %>
<div class="col-sm-6 col-md-4 col-lg-2">
  <h5><a href="<%= album_presenter.path %>"><%= album_presenter.title %></a> <small><%= album_presenter.artist.name %></small></h5>
  <% if album_presenter.image? %>
    <a href="<%= album_presenter.path %>">
      <%= image_tag(album_presenter.image.icon.url, alt: album_presenter.title, class: 'rounded') %>
    </a>
  <% end %>
</div>
<% end %>
</div>
