<h1 class="hidden"><%= t 'helpers.label.unpublished' %></h1>

<h2><%= t 'helpers.title.album.index' %></h2>
<ul class="media-list">
<% @albums.each do |album| %>
  <li class="media img-rounded">
    <% if album.image? %>
      <a href="<%= artist_album_path( album.artist, album ) %>" class="pull-left">
        <%= image_tag( album.image.icon.url, :alt => album.title, :class => 'media-object media-object-thumbnail img-rounded img-polaroid' ) %>
      </a>
    <% end %>
    <div class="media-body">
      <h5><a href="<%= artist_album_path( album.artist, album ) %>"><%= album.title %></a></h5>
      <p><%= album.artist.name %></p>
    </div>
  </li>
<% end %>
</ul>

