<h1 class="hidden"><%= t 'label.unpublished' %></h1>

<h2><%= t 'title.album.index' %></h2>
<ul class="media-list">
<% @album_presenters.each do |presenter| %>
  <li class="media img-rounded">
    <% if presenter.image? %>
      <a href="<%= presenter.path %>" class="pull-left">
        <%= image_tag(presenter.image.icon.url, :alt => presenter.title, :class => 'media-object media-object-thumbnail img-rounded img-polaroid' ) %>
      </a>
    <% end %>
    <div class="media-body">
      <h5><a href="<%= presenter.path %>"><%= presenter.title %></a></h5>
      <p><%= presenter.artist.name %></p>
    </div>
  </li>
<% end %>
</ul>
