<h1 class="hidden"><%= t 'label.unpublished' %></h1>

<h2><%= t 'title.album.index' %></h2>
<ul class="media-list">
<% @album_views.each do |view| %>
  <li class="media img-rounded">
    <% if view.image? %>
      <a href="<%= view.show_path %>" class="pull-left">
        <%= image_tag(view.image.icon.url, :alt => view.title, :class => 'media-object media-object-thumbnail img-rounded img-polaroid' ) %>
      </a>
    <% end %>
    <div class="media-body">
      <h5><a href="<%= view.show_path %>"><%= view.title %></a></h5>
      <p><%= view.artist.name %></p>
    </div>
  </li>
<% end %>
</ul>
