<%= render partial: 'sidebar' %>

<%= render_title t('title.event.index') %>

<h1><%=t 'title.event.index' %></h1>

<% if @event_views.empty? %>
 <p><%=t 'label.nothing_here_yet' %></p>
<% end %>

<ul class="media-list">
<% @event_views.each do |view| %>
  <li class="media img-rounded">
    <% if view.poster? %>
      <%= link_to image_tag(view.poster.icon.url, :alt => view.title,
        :class => 'media-object media-object-thumbnail img-polaroid img-rounded'),
        view.show_path, :class => 'pull-left' %>
    <% end %>
    <div class="media-body">
      <h5><%= event_icon(view.expired?) %><%= link_to view.title, view.show_path %></h5>
      <p>
        <%= view.artist.name %><br />
        <%= event_date(view) %><br />
        <%= view.location %>
        <% if view.address.present? %>
          <br />
          <small><%= view.address %></small>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>
