<%= render partial: 'sidebar' %>

<%= render_title t('title.event.index') %>

<h1><%=t 'title.event.index' %></h1>

<% if @event_presenters.empty? %>
 <p><%=t 'label.nothing_here_yet' %></p>
<% end %>

<ul class="media-list">
<% @event_presenters.each do |presenter| %>
  <li class="media img-rounded">
    <% if presenter.poster? %>
      <%= link_to image_tag(presenter.poster.icon.url, :alt => presenter.title,
        :class => 'media-object media-object-thumbnail img-polaroid img-rounded'),
        presenter.path, :class => 'pull-left' %>
    <% end %>
    <div class="media-body">
      <h5><%= event_icon(presenter.expired?) %><%= link_to presenter.title, presenter.path %></h5>
      <p>
        <span class="label label-default"><%= presenter.artist.name %></span><br />
        <%= event_date(presenter) %><br />
        <%= presenter.location %>
        <% if presenter.address.present? %>
          <br />
          <small><%= presenter.address %></small>
        <% end %>
      </p>
    </div>
  </li>
<% end %>
</ul>
