<%= render partial: 'news/sidebar' %>

<div class="hero-unit">
  <h1><%=t 'helpers.label.site.name' %></h1>
  <p><%=t 'helpers.label.site.desc' %></p>
</div>

<h3 class="text-center"><%= t( 'helpers.title.artist.index' ) %></h3>
<ul class="thumbnails">
<% @artists.each do |artist| %>
  <li class="span2">
    <div class="thumbnail text-center"><%= render artist %></div>
  </li>
<% end %>
</ul>


<h3 class="text-center"><%= t( 'helpers.title.album.index' ) %></h3>
<ul class="thumbnails">
<% @albums.each do |album| %>
  <li class="span2">
    <div class="thumbnail text-center"><%= render album %></div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>

