<%= render partial: 'sidebar' %>
<%= render partial: 'nav' %>

<div class="jumbotron">
  <h1><%=t 'helpers.label.site.name' %></h1>
  <p><%=t 'helpers.label.site.desc' %></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= t( 'helpers.title.artist.index' ) %></div>
  <div class="panel-body">
    <ul class="row list-unstyled">
      <% @artists.each do |artist| %>
        <li class="col-sm-3 col-md-3 col-lg-3">
          <div class="thumbnail text-center"><%= render artist %></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><%= t( 'helpers.title.album.index' ) %></div>
  <div class="panel-body">
    <ul class="row list-unstyled">
      <% @albums.each do |album| %>
        <li class="col-sm-3 col-md-3 col-lg-3">
          <div class="thumbnail text-center"><%= render album %></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render :partial => 'events/calendar_js' %>

