<%= render_title t('title.post.index') %>

<%= render partial: 'sidebar' %>

<h1><%=t 'title.post.index' %></h1>

<% if @post_presenters.empty? %>
  <%=t 'label.nothing_here_yet' %>
<% end %>
<ul class="media-list">
<% @post_presenters.each do |presenter| %>
  <li class="media img-rounded">
    <div class="media-body">
      <h5><%= post_icon %><small><%= post_date(presenter) %></small>&nbsp;<%= link_to presenter.title, presenter.path %></h5>
      <p><%= presenter.artist.name %></p>
    </div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>
