<%= render_title t( 'helpers.title.video.index' ) %>

<%= render partial: 'sidebar' %>
<%= render partial: 'nav' %>

<h1 class="hidden"><%= t 'helpers.title.video.index' %></h1>

<% if @videos.empty? %>
  <%= t( 'helpers.label.nothing_here_yet' ) %>
<% end %>
<ul class="row list-unstyled">
<% @videos.each do |video| %>
  <li class="col-sm-3 col-md-3 col-lg-3">
    <div class="thumbnail text-center"><%= render video %></div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>

