<%= form_for [current_artist, @post] do |f| %>
	<%= f.error_messages %>
    <div class="checkbox">
      <%= f.label :published do %>
        <%= f.check_box :published %>
        <%= t( "helpers.label.post.published" ) %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :title, t( "helpers.label.post.title" ) %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body, t( "helpers.label.post.body" ) %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <button type="submit" class="btn btn-default"><%=t 'helpers.action.save' %></button>
<% end %>

