<%= render_title t( 'helpers.title.post.edit' ) %>
<h2><%= @post.title %></h2>
<p>
  <a href="<%= artist_post_path(@post.artist, @post) %>" class="btn btn-warning btn-xs"><%=t 'helpers.action.cancel_edit' %></a>
</p>
<%= render :partial => 'form' %>
