<%= render_actions :post, :cancel_edit => post_path( @post ) %>
<%= render_title t( 'helpers.title.post.edit' ) %>
<h1><%= @post.artist.name %></h1>
<h2><%= t 'helpers.title.post.index'  %></h2>
<h3><%= t 'helpers.title.post.edit' %></h3>
<%= render :partial => 'form' %>
