<%= render_title t( 'helpers.title.post.index' ) %>

<%= render partial: 'news/index_actions' %>

<% unless current_artist %>
  <%= render partial: 'news/sidebar' %>
<% end %>

<% if current_artist? %>
  <h1><%= current_artist.name %></h1>
  <h2><%= t 'helpers.title.post.index' %></h2>
<% else %>
  <h1 class="hidden"><%= t 'helpers.title.post.index' %></h1>
<% end %>
<% if @category == :drafts %>
  <p><%= t( 'helpers.label.post.drafts' ) %></p>
<% end %>

<% if @posts.empty? %>
  <%= t( 'helpers.label.nothing_here_yet' ) %>
<% end %>
<ul class="media-list">
<% @posts.each do |post| %>
  <li class="media img-rounded">
    <div class="media-body">
      <h5><%= post_icon %><%= link_to post.title, artist_post_path( post.artist, post ) %></h5>
      <% unless current_artist? %>
        <p><%= post.artist.name %></p>
      <% end %>
    </div>
  </li>
<% end %>
</ul>

<%= render :partial => 'events/calendar_js' %>
