<%= render_title t('label.posts') %>

<h2 class="hidden"><%= t 'label.posts' %></h2>

<% if @presenters.empty? %>
  <%= t( 'label.nothing_here_yet' ) %>
<% end %>
<ul class="media-list">
<% @presenters.each do |presenter| %>
  <li class="media img-rounded">
    <div class="media-body">
      <h5><%= post_icon %><small><%= post_date(presenter) %></small>&nbsp;<%= link_to presenter.title, presenter.path %></h5>
      <div class="long-text"><%= render_text presenter.body %></div>
    </div>
  </li>
<% end %>
</ul>
