<%= render_title t('title.post.new') %>
<h2><%=t 'title.post.new' %></h2>
<p>
  <a href="<%= artist_path(current_artist) %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>
<%= render partial: 'form', locals: { resource: @presenter.resource } %>
