<%= render_title @post.title %>
<% content_for :context_actions do %>
  <% if can? :write_post, @post %>
    <%= link_to_action t( 'helpers.action.post.edit' ), edit_artist_post_path( @post.artist, @post ) %>
  <% end %>
  <% if can? :write_post, @post %>
    <%= link_to_action t( 'helpers.action.post.destroy' ), artist_post_path( @post.artist, @post ), :method => :delete,
      :confirm => t( 'helpers.action.destroy_confirmation' ) %>
  <% end %>
<% end %>

<%= render :partial => 'header', :locals => { :post => @post } %>
<div class="long-text">
  <%= render_text @post.body %>
</div>
<br />
<div class="well">
  <%= render partial: 'embeds/facebook', locals: { url: artist_post_url( @post.artist, @post ) } %>
  <br />
  <%= render partial: 'embeds/twitter' %>
</div>

