<%= render_title @presenter.title %>
<h2><%= post_icon %><%= @presenter.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { presenter: @presenter } %>
</p>
<p>
  <%= render_text @presenter.body %>
</p>
<br />
<%= render partial: 'embeds/all' %>
