<%= render_title @view.title %>
<h2><%= post_icon %><%= @view.title %></h2>
<p>
  <%= render partial: 'shared/show_actions', locals: { view: @view } %>
</p>
<p>
  <%= render_text @view.body %>
</p>
<br />
<%= render partial: 'embeds/all' %>
