<%= render_title @album_presenter.title %>
<h2>
  <%= @album_presenter.title %>
  <% unless @album_presenter.published? %>
    <small><%= t('label.album.unpublished') %></span>
  <% end %>
</h2>
<h3><%= t 'title.release.index' %></h3>
<p>
  <a href="<%= @album_presenter.path %>" class="btn btn-warning btn-xs"><%=t 'action.cancel_new' %></a>
</p>

<ul>
  <% @album_presenter.releases.each do |release| %>
    <li>
      <%= release.format %>&nbsp;(<%= File.basename(release.file.path) %>)
      <br />
      <%=t 'label.release.downloads' %>: <%= release.downloads %>
      <br />
      <% if can? :write_release, @album_presenter.resource %>
        <a href="<%= artist_album_release_path(@album_presenter.artist, @album_presenter.resource, release) %>" class="btn btn-danger btn-xs" data-method="delete" data-confirm="<%=t 'action.destroy_confirmation' %>">
          <%=t 'action.delete' %>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :write_release, @album_presenter.resource %>
  <h3><%=t 'title.release.new' %></h3>
  <%= render :partial => 'form', locals: { resource: @presenter.resource } %>
<% end %>
