<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-inline">
        <% if page_url = Settings.facebook_url %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/facebook.png', :alt => 'Facebook', :title => 'Facebook' ) %></a></li>
        <% end %>
        <% if page_url = Settings.twitter_url %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/twitter.png', :alt => 'Twitter', :title => 'Twitter' ) %></a></li>
        <% end %>
        <% if page_url = Settings.youtube_url %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/youtube.png', :alt => 'YouTube', :title => 'YouTube' ) %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-inline">
        <% if can? :read, current_user -%>
          <li class="pull-right"><a href="<%= admin_logout_url %>" class="btn btn-default btn-xs">Pa</a></li>
          <li class="pull-right"><a href="<%= admin_user_path(current_user) %>" class="btn btn-default btn-xs">Moje konto</a></li>
        <% else -%>
          <li class="pull-right"><a href="<%= admin_login_url %>" class="btn btn-default btn-xs">Zaloguj się</a></li>
        <% end %>
        <% if can? :read, :user %>
          <li class="pull-right"><a  href="<%= admin_users_path %>" class="btn btn-default btn-xs"><%= t('title.user.index') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
