<hr />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <% if current_user? -%>
          <li><a href="<%= admin_logout_url %>" class="btn btn-default btn-xs">Pa</a></li>
          <li><a href="<%= admin_user_path( current_user ) %>" class="btn btn-default btn-xs">Moje konto</a></li>
        <% else -%>
          <li><a href="<%= admin_login_url %>" class="btn btn-default btn-xs">Zaloguj się</a></li>
        <% end %>
        <% if can? :write, User %>
          <li><a  href="<%= admin_users_path %>" class="btn btn-default btn-xs"><%= t( 'title.user.index' ) %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

