<div class="row">
  <div class="col-sm-12 menu">
<% if current_user -%>
    <hr />
    <a href="<%= admin_drafts_url %>"><%= t('title.drafts') %></a>
    <a href="<%= admin_users_path %>"><%= t('title.users') %></a>
    <a href="<%= current_user.account_path %>"><%= t('title.account') %></a>
    <a href="<%= current_user.logout_path %>"><%= t('action.logout') %></a>
<% end %>
  </div>
</div>
