<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to image_tag('logo.jpg', alt: 'Karoryfer Lecolds', title: 'Karoryfer Lecolds' ), root_url %>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <% main_menu_items.each do |title, url, is_active| %>
          <li class="<%= is_active ? 'active' : 'normal' %>">
            <%= link_to title, url, :class => 'main-menu-link' %></li>
        <% end %>
        <li class="pull-right">
          <div class="inline-block">
          <a href="<%= facebook_url %>" target="_blank">
            <%= image_tag('social/facebook.png', alt: 'Facebook', title: 'Facebook') %></a>
          <a href="<%= twitter_url %>" target="_blank">
            <%= image_tag('social/twitter.png', alt: 'Twitter', title: 'Twitter') %></a>
          <a href="<%= youtube_url %>" target="_blank">
            <%= image_tag('social/youtube.png', alt: 'YouTube', title: 'YouTube') %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>

<% if content_for? :actions %>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-inline pull-right">
        <%= yield :actions %>
      </ul>
    </div>
  </div>
<% end %>
</div>
