<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to image_tag( "logo.jpg", :alt => 'Karoryfer Lecolds', :title => 'Karoryfer Lecolds' ), root_url %>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <% if current_artist? %>
          <li><%= link_to "Artyści", artists_url, :class => 'main-menu-link' %></li>
          <li><%= link_to "Wydawnictwa", albums_url, :class => 'main-menu-link' %></li>
          <% if Artist.admin_reference %>
            <% if current_artist.reference != Artist.admin_reference %>
              <li><%= link_to "O nas", artist_url( Artist.admin_reference ), :class => 'main-menu-link' %></li>
            <% else %>
              <li class="active"><%= link_to "O nas", artist_url( Artist.admin_reference ), :class => 'main-menu-link' %></li>
            <% end %>
          <% end %>
          <% if current_user? %>
            <li><%= link_to "Szkice", drafts_url, :class => 'main-menu-link' %></li>
          <% end %>
        <% else %>
          <li class="<%= controller_name == 'artists' ? 'active' : 'normal' %>">
            <%= link_to "Artyści", artists_url, :class => 'main-menu-link' %></li>
          <li class="<%= controller_name == 'site' and action_name == 'albums' ? 'active' : 'normal' %>">
            <%= link_to "Wydawnictwa", albums_url, :class => 'main-menu-link' %></li>
          <% if Artist.admin_reference %>
            <li><%= link_to "O nas", artist_url( Artist.admin_reference ), :class => 'main-menu-link' %></li>
          <% end %>
          <% if current_user? %>
            <li class="<%= controller_name == 'site' and action_name == 'drafts' ? 'active' : 'normal' %>">
              <%= link_to "Szkice", drafts_url, :class => 'main-menu-link' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-inline">
        <% if page_url = Setting.get( 'karoryfer.facebook.url' ) %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/facebook.png', :alt => 'Facebook', :title => 'Facebook' ) %></a></li>
        <% end %>
        <% if page_url = Setting.get( 'karoryfer.twitter.url' ) %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/twitter.png', :alt => 'Twitter', :title => 'Twitter' ) %></a></li>
        <% end %>
        <% if page_url = Setting.get( 'karoryfer.flattr.url' ) %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/flattr.png', :alt => 'Flattr', :title => 'Flattr' ) %></a></li>
        <% end %>
        <% if page_url = Setting.get( 'karoryfer.youtube.url' ) %>
          <li><a href="<%= page_url %>" target="_blank">
            <%= image_tag( 'social/youtube.png', :alt => 'YouTube', :title => 'YouTube' ) %></a></li>
        <% end %>
        <% if page_url = Setting.get( 'karoryfer.gplus.url' ) %>
          <li><a href="<%= page_url %>" rel="publisher" target="_blank">
            <%= image_tag( 'social/gplus.png', :alt => 'Google+', :title => 'Google+' ) %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

<% if content_for? :actions %>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-inline pull-right">
        <%= yield :actions %>
      </ul>
    </div>
  </div>
<% end %>
</div>
