<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= content_for?(:title) ? '' : 'Karoryfer Lecolds' %></title>
  <meta name="author" content="Michał Radmacher - michal@radmacher.pl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="presenterport" content="width=device-width, initial-scale=1">

	<%= favicon_link_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'embeds/facebook_sdk' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/content' %>
  <%= render 'layouts/footer' %>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
