<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= content_for?(:title) ? '' : 'Karoryfer Lecolds' %></title>
  <meta name="author" content="Michał Radmacher - michal@radmacher.pl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="presenterport" content="width=device-width, initial-scale=1">

	<%= favicon_link_tag %>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/add-on/jplayer.playlist.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/skin/blue.monday/css/jplayer.blue.monday.min.css" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'embeds/facebook_sdk' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/content' %>
  <%= render 'layouts/footer' %>
</body>
</html>
