<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= content_for?(:title) ? '' : 'Karoryfer Lecolds' %></title>
  <meta name="author" content="Michał Radmacher - michal@radmacher.pl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="presenterport" content="width=device-width, initial-scale=1">

	<%= favicon_link_tag %>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  <script src="/js/bic_calendar.min.js"></script>
  <%= javascript_include_tag '/js/rails.js' %>
  <%= javascript_include_tag '/js/jQuery.jPlayer.2.5.0/jquery.jplayer.min.js' %>
  <%= javascript_include_tag '/js/jQuery.jPlayer.2.5.0/add-on/jplayer.playlist.min.js' %>
  <%= javascript_include_tag '/js/karoryfer.js' %>
  <%= stylesheet_link_tag '/css/karoryfer.css'%>
  <%= stylesheet_link_tag '/css/blue.monday/jplayer.blue.monday.css' %>
  <link href="/css/bic_calendar.css" rel="stylesheet" media="screen">
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/content' %>
    <%= render 'layouts/footer' %>
</body>
</html>
