<% content_for :sidebar do %>
  <%=	render :partial => 'artists/sidebar' %>
<% end %>
<% content_for :actions do %>
  <% if can? :write_event, Event %>
    <%= link_to_action t( 'helpers.action.event.new' ), new_artist_event_path( current_artist ) %>
  <% end %>
  <% if can? :write_event, Post %>
    <%= link_to_action t( 'helpers.action.post.new' ), new_artist_post_path( current_artist ) %>
  <% end %>
  <% if can? :write_page, Page %>
    <%= link_to_action t( 'helpers.action.page.new' ), new_artist_page_path( current_artist ) %>
  <% end %>
  <% if can? :write_video, Video %>
    <%= link_to_action t( 'helpers.action.video.new' ), new_artist_video_path( current_artist ) %>
  <% end %>
<% end %>

<% content_for :current_artist do %>
  <h1><a href="<%= artist_path(current_artist) %>" class="main-menu-link"><%= current_artist.name %></a></h1>
  <ul class="nav nav-pills">
    <li class="<%= controller_name == 'events' ? 'active' : 'normal' %>">
      <a href="<%= artist_events_path(current_artist) %>" class="main-menu-link"><%=t 'helpers.title.event.index' %></a>
    </li>
    <li class="<%= controller_name == 'posts' ? 'active' : 'normal' %>">
      <a href="<%= artist_posts_path(current_artist) %>" class="main-menu-link"><%=t 'helpers.title.post.index' %></a>
    </li>
    <li class="<%= controller_name == 'albums' ? 'active' : 'normal' %>">
      <a href="<%= artist_albums_path(current_artist) %>" class="main-menu-link"><%=t 'helpers.title.album.index' %></a>
    </li>
    <li class="<%= controller_name == 'videos' ? 'active' : 'normal' %>">
      <a href="<%= artist_videos_path(current_artist) %>" class="main-menu-link"><%=t 'helpers.title.video.index' %></a>
    </li>
  </ul>
  <%= yield %>
<% end %>
<%= render :template => 'layouts/application' %>

