<% if current_artist? %>
  <% content_for :sidebar do %>
    <%=	render :partial => 'artists/sidebar' %>
  <% end %>

  <% content_for :current_artist do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1><a href="<%= artist.path %>" class="main-menu-link"><%= artist.title %></a></h1>
      </div>
    </div>
    <%= yield %>
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>
