<% if current_artist? %>
  <% content_for :sidebar do %>
    <%=	render :partial => 'artists/sidebar' %>
  <% end %>

  <% content_for :header do %>
    <h1><a href="<%= artist.path %>"><%= artist.title %></a></h1>
  <% end %>
  <% content_for :current_artist do %>
    <%= yield %>
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>
